body {
    background-color: #FFE4C4;
  }
  
  h1 {
    color: #8B0000;
    text-align: center;
  }

  h3 { 
    color: #8B4726;
  }

  
  p {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }